
ion-label{
  margin-left: 1rem;
}
.my-custom-menu {
  --width: 500px;
}
.iconmenu{
  height: 40px;
  width: 40px;
}
img{
  height: 30px;
  width: 30px;
  
}
ion-avatar{
  display: flex;
  align-items: center;
  justify-content: center;
}